llama_index module by using the tutorial link download the ZIP and extracts to where you saves the python file
IDE - VS code 
ReAct Mode - Chat Engine.py file
in that install requests, tqdm,illama_index,langchain using 
pip install requests tqdm llama_index langchain command
Update the code: Open the code file in a text editor and replace "YOUR_API_KEY" in the line ChatOpenAI(openai_api_key="YOUR_API_KEY") with your actual OpenAI API key.
and then run ReAct Mode-Chat Engine.py file in terminal

